/* Intro Section */

.intro {
    display: grid;
    place-items: center;
    height: 100vh;
}

.intro-container {
    display: grid;
    place-items: center;
}

.intro-container > h1 {
    margin-bottom: 7px;
    color: #293264;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}

.intro-container > h4 {
    margin-top: 7px;
    margin-bottom: 30px;
    color: #293264;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    font-family: 'Inter', sans-serif;
}

.intro-container > button {
    background-color: #4D5B9E;
    color: white;
    border: none;
    border-radius: 15px;
    width: 193px;
    height: 52px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.intro {
    position: relative;
}

.topImage {
    position: absolute;
    top: 0px;
    right: 0px;
}

.bottomImage {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
/* Intro Section End */


/* Quiz Section Begin */

.question {
    max-width: 800px;
    border-bottom: 1px solid #DBDEF0;
    padding-bottom: 15px;
}

.question > h2 {
    font-size: 16px;
    font-weight: 700;
    color: #293264;
}

.quiz-container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.option > button {
    width: auto;
    border: 1px solid #293264;
    border-radius: 8px;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 11px;
    cursor: pointer;
    margin-right: 13px;
}

.option {
    margin-right: 13px;
    display: flex;
}

.secondQuizContainer {
    display: grid;
}

.submitButton {
    width: 120px;
    background-color: #4D5B9E;
    place-self: center;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 11px 22px;
    cursor: pointer;
}

.submitButton:hover {
    box-shadow: 5px 5px 7px lightgray;
}
/* Quiz Section End */